:root {
  --max-width: clamp(10cm, 100%, 16cm);
  --border-radius: 12px;

  --white: 0, 0%, 98%;
  --black: 230, 13%, 15%;
  --gold: 38, 78%, 91%;

  --foreground-hsl: var(--black);
  --background-hsl: var(--white);

  --shadow: 0px 32px 32px -32px hsla(var(--foreground-hsl), 0.32);

  --border: 2px solid hsla(var(--gold), 1);
  --borderThin: 1px solid hsla(var(--gold), 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hsl: var(--white);
    --background-hsl: var(--black);
  }
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-small: clamp(0.8rem, 0.244vw + 0.727rem, 0.844rem);
    --font-size-p: clamp(1rem, 0.694vw + 0.792rem, 1.125rem);
    --font-size-h5: clamp(1.25rem, 1.387vw + 0.834rem, 1.5rem);
    --font-size-h4: clamp(1.563rem, 2.425vw + 0.835rem, 1.999rem);
    --font-size-h3: clamp(1.953rem, 3.953vw + 0.767rem, 2.665rem);
    --font-size-h2: clamp(2.441rem, 6.17vw + 0.59rem, 3.552rem);
    --font-size-h1: clamp(3.052rem, 9.35vw + 0.247rem, 4.735rem);
  }
}

/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-small: 0.8rem;
    --font-size-p: 1rem;
    --font-size-h5: 1.25rem;
    --font-size-h4: 1.563rem;
    --font-size-h3: 1.953rem;
    --font-size-h2: 2.441rem;
    --font-size-h1: 3.052rem;
  }
  @media screen and (min-width: 768px) {
    :root {
      --font-size-small: 0.844rem;
      --font-size-p: 1.125rem;
      --font-size-h5: 1.5rem;
      --font-size-h4: 1.999rem;
      --font-size-h3: 2.665rem;
      --font-size-h2: 3.552rem;
      --font-size-h1: 4.735rem;
    }
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
  font-size: 16px;
  cursor: crosshair;
}

body {
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsla(var(--foreground-hsl), 1);
  background: hsla(var(--background-hsl), 1);
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
pre {
  text-align: left;
  width: 100%;
}

a {
  color: inherit;
  font-weight: bold;
}

hr {
  height: 1px;
  border: var(--borderThin);
  border-radius: 4px;
}

pre {
  font-family: ui-monospace, monospace;
  font-size: 0.8rem;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  background: hsla(var(--gold), 0.1618);
  padding: 8px;
  border-radius: 4px;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 32px;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 16px);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  font-size: var(--font-size-p);
  &:after {
    content: "";
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    width: calc(100vw - 32px);
    max-height: calc(100vh - 31px);
    z-index: 999;
    box-shadow: 0 0 0 2px hsla(var(--gold), 1),
      0 0 0 16px hsla(var(--background-hsl), 1);
    border-radius: 4px;
    background: transparent;
    pointer-events: none;
  }

  &:has(> .token) {
    justify-content: center;
  }

  > .token {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    > * {
      max-width: var(--max-width);
    }
  }
  > .post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 32px;
    > * {
      max-width: var(--max-width);
    }
  }
}
