---

---

<section>
  <h1>Hi, I am Matthias</h1>
  <p>
    I run DevRel at <a href='https://www.pinata.cloud/' title='Pinata'>Pinata</a> and have a small growth consustancy called
    <a href='https://day---break.com/' title='day---break'>day---break</a> on the side.
  </p>
  <p>Over the years I've worked as a photographer, and have built growth teams in travel, fintech, and ecommerce.</p>
  <p>
    This site is a collection notes, recipews, and thoughts. You'll find projects, ongoing and final, and recomendations
    for all sorts of things.
  </p>
  <p>
    You can find me on various <a href='/social'>social</a> platforms, subscribe to my <a href='/rss.xml'>rss feed</a>,
    or find me on the small-web via <a href='https://github.com/iammatthias/gemini-server'>Gemini</a>: <code
      >gemini://gem.iammatthias.com</code
    >
  </p>
</section>

<style>
  section {
    padding: 2rem;
    @media (max-width: 768px) {
      padding: 1rem;
    }
    min-height: calc(50vh - 2rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  section > * {
    max-width: 64ch;
    word-wrap: pretty;
  }
</style>
