---
import Layout from "@layouts/layout.astro";
---

<Layout title='Social'>
  <main>
    <h1>Exposed</h1>
    <p>
      Our on-chain analytics generates unique Keccak256 hashes for each session. These hashes also serve as valid
      private keys. We can transform these keys into generative art by using their hexadecimal characters as
      pseudo-random values. It is essential to note that they are publicly known and inherently insecure, and should
      never be used.
    </p>
  </main>
</Layout>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  div.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  h2 {
    font-size: var(--fs-h4);
  }
</style>
