.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  position: relative;
}

.section * {
  max-width: 600px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .section {
    padding-bottom: 96px;
  }
}
