.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

.section p {
  line-height: 1.5;
  max-width: 600px;
}
