.pill_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.pill,
.date {
  font-size: 12px;
}

.pill {
  background: rgb(var(--background-rgb));
  border: 1px solid var(--orange);
  border-radius: 32px;
  padding: 4px 8px;
}
