.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  position: relative;
}

.main,
.article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main * {
  text-align: left;
  max-width: 800px;
  color: var(--foreground);
  text-decoration: none;
}

.article a {
  color: var(--orange);
  text-decoration: underline wavy var(--orange);
}

.article__dates,
.pill_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.pill,
.date {
  font-size: 12px;
}

.pill {
  background: rgb(var(--background-rgb));
  border: 1px solid var(--orange);
  border-radius: 32px;
  padding: 4px 8px;
}
