.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: fit-content;
  position: relative;
}

.section > * {
  max-width: 600px;
}

@media screen and (max-width: 600px) {
  .section {
    padding-bottom: 96px;
  }
}
