.section,
.article > a {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
  padding: 32px;
}

.section *,
.article * {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  max-width: 800px;
}

.article * {
  text-decoration: none;
  color: var(--foreground);
}

.article__dates,
.pill_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.pill,
.date {
  font-size: 12px;
}

.pill {
  text-align: center;
  min-width: 48px;
  padding: 4px 8px;
  border-radius: 24px;
  background: rgb(var(--background-rgb));
  border: 1px solid var(--orange);
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .section {
    height: calc(100vh - 64px);
  }
  .section p {
    font-size: 24px;
  }
}
