:root {
  /* Gold */
  --gold: #f5ab00;
  --gold-lighter: #ffcd00;
  --gold-darker: #c48800;

  /* Orange */
  --orange: #f06900;
  --orange-lighter: #ff7e00;
  --orange-darker: #c05400;

  /* White */
  --white: #eeeeee;
  --white-lighter: #ffffff; /* Pure white */
  --white-darker: #bebebe;

  /* Grey-Light */
  --grey-light: #dbdee5;
  --grey-light-lighter: #ffffff; /* Merging with white */
  --grey-light-darker: #afb1b7;

  /* Grey-Dark */
  --grey-dark: #888b93;
  --grey-dark-lighter: #a3a6b0;
  --grey-dark-darker: #6c6f75;

  /* Black */
  --black: #020202;
  --black-lighter: #020202; /* Same as primary, minimal room for lightening */
  --black-darker: #010101; /* Almost black */

  --background: var(--white);
  --foreground: var(--black);
  --midground: var(--grey-light);

  --noise-opacity: 0.05;

  --texture-healing: 1;
  --ligatures: 1;

  font-feature-settings: "calt" var(--texture-healing, 1), "dlig" var(--ligatures, 1), "ss01" var(--ligatures, 1),
    "ss02" var(--ligatures, 1), "ss03" var(--ligatures, 1), "ss04" var(--ligatures, 1), "ss05" var(--ligatures, 1),
    "ss06" var(--ligatures, 1), "ss07" var(--ligatures, 1), "ss08" var(--ligatures, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
    --midground: var(--grey-dark);
  }

  html {
    color-scheme: dark;
  }
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base HTML styles */
html {
  font-size: 4px;
}

html,
body {
  min-height: 100%; /* Ensures at least viewport height */
  height: auto; /* Allows expansion beyond the viewport */
}

/* Body styles */
body {
  color: var(--foreground);
  background: var(--background);
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

/* Limit width for direct children */
body > * {
  max-width: 600px;
  width: 100%;
  position: relative;
}

body > .noise {
  max-width: unset;
}

/* Section and article styles */
body > section,
body > section > article,
body > section > .post {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Image styles */
img,
video {
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
}

video {
  object-fit: fill;
}

.noise {
  background-image: url(/noise.png);
  background-repeat: repeat;
  background-size: 182px;
  filter: brightness(6);
  opacity: var(--noise-opacity);
  pointer-events: none;
  position: absolute;
  inset: 0;
  height: auto; /* Adjusted to auto */
}

@media screen and (max-width: 600px) {
  body {
    padding: 6rem 4rem;
    gap: 4rem;
  }
}
