/* Typography */
/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --fs-sm: clamp(1rem, 0vw + 1rem, 1rem);
    --fs-p: clamp(1.13rem, 0.14vw + 1.09rem, 1.2rem);
    --fs-h6: clamp(1.27rem, 0.32vw + 1.19rem, 1.44rem);
    --fs-h5: clamp(1.42rem, 0.55vw + 1.29rem, 1.73rem);
    --fs-h4: clamp(1.6rem, 0.86vw + 1.39rem, 2.07rem);
    --fs-h3: clamp(1.8rem, 1.25vw + 1.49rem, 2.49rem);
    --fs-h2: clamp(2.03rem, 1.74vw + 1.59rem, 2.99rem);
    --fs-h1: clamp(2.28rem, 2.37vw + 1.69rem, 3.58rem);
  }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --fs-sm: 1rem;
    --fs-p: 1.13rem;
    --fs-h6: 1.27rem;
    --fs-h5: 1.42rem;
    --fs-h4: 1.6rem;
    --fs-h3: 1.8rem;
    --fs-h2: 2.03rem;
    --fs-h1: 2.28rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
      --fs-sm: 1rem;
      --fs-p: 1.2rem;
      --fs-h6: 1.44rem;
      --fs-h5: 1.73rem;
      --fs-h4: 2.07rem;
      --fs-h3: 2.49rem;
      --fs-h2: 2.99rem;
      --fs-h1: 3.58rem;
    }
  }
}

html {
  font-size: 16px;
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
  color: var(--foreground); /* Main text color */
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-title);
  width: fit-content;
}

a {
  color: var(--text-link);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid var(--text-link);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

h6 {
  font-size: var(--fs-h6);
}

li,
p {
  font-size: var(--fs-p);
}

small {
  font-size: var(--fs-sm);
}

pre,
code {
  font-family: ui-monospace, SFMono-Regular, ui-monospace, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: var(--text-primary);
}

pre {
  border: 1px solid var(--grey-light);
  border-radius: 1rem;
  padding: 1rem;
  overflow-x: auto;
}

code:not(pre > code) {
  border: 1px solid var(--grey-light);
  padding: 0.1rem 0.4rem;
  border-radius: 1rem;
}

.shadow-text {
  text-shadow: 2px 2px 4px var(--grey-dark-darker); /* Enhanced shadow for contrast */
}

.gradient-text {
  background: linear-gradient(45deg, var(--orange), var(--gold)); /* Custom gradient text */
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

blockquote {
  border-left: 4px solid var(--grey-light);
  padding-left: 1rem;
  color: var(--text-secondary);
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--fs-p);
  box-shadow: 0 0 10px var(--grey-light-darker);
  table-layout: fixed; /* New property */
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid var(--grey-light);
  word-wrap: break-word; /* Ensures content fits within the cell */
}

th {
  background-color: var(--foreground);
  color: var(--black);
}

td:hover {
  background-color: var(--grey-light-lighter);
  color: var(--black);
}

@media screen and (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
  }

  th,
  td {
    padding: 12px;
  }
}

p:has(> img:nth-of-type(2)) img {
  border: 10px solid red;
}
