---
// export const prerender = true;

import Layout from "@layouts/layout.astro";
---

<Layout title='Resume'>
  <main>
    <p><i>2012 ➵ Current // Photographer</i><br /> Fine art &amp; freelance</p>
    <p>
      <i>2023 ➵ Current // Ice Barrel (Contractor)</i><br />
      Web Development & Performance Marketing Manager
    </p>
    <p>
      <i>2022 ➵ Current // Opul (Contractor)</i><br />
      Design System Engineer
    </p>
    <p>
      <i>2021 ➵ 2022 // Tornado</i><br />
      Growth Engineer
    </p>
    <p>
      <i>2018 ➵ 2021 // Aspiration</i><br />
      CRM Architect
    </p>
    <p>
      <i>2016 ➵ 2018 // Surf Air</i><br />
      Product &amp; Marketing Coordinator
    </p>
    <p>
      <b>Education</b>
    </p>
    <p>
      <i>2010 ➵ 2014 Brooks Institute</i><br />
      Bachelors Degree, Commercial Photography
    </p>
  </main>
</Layout>
