.page {
  min-height: 100%;
}

.entries {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: masonry;
  gap: 32px;
}

// tablet breakpoint

@media screen and (max-width: 1024px) {
  .entries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .entries {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

// mobile breakpoint
@media screen and (max-width: 480px) {
  .entries {
    grid-template-columns: 1fr;
  }
}
