.entries {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: var(--border);
  padding: 32px;
  p {
    font-weight: normal;
    font-style: normal;
  }
  a {
    word-wrap: break-word;
    word-break: break-word;
  }
  &:hover {
    box-shadow: var(--shadow);
  }
}

.entry__meta__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.entry__meta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .entries {
    grid-template-columns: 1fr 1fr;
  }
  .entry {
    padding: 16px;
  }
}

// mobile breakpoint
@media screen and (max-width: 480px) {
  .entries {
    grid-template-columns: 1fr;
  }
}
