.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 16px;
  gap: 16px;
}

.header {
  position: sticky;
  align-self: start;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border: 1px solid var(--bg);
  border-bottom: 1px solid var(--primary);
  box-shadow: 0 15px 15px -15px var(--shadow);
  background: var(--bg);
}

.footer {
  position: sticky;
  align-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding: 16px 0;
  border: 1px solid var(--bg);
  border-top: 1px solid var(--primary);
  box-shadow: 0 -16px 16px -16px var(--shadow);
  background: var(--bg);
}

.clock {
  text-align: right;
}

.main {
  margin: 16px 32px;
}

.main article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main article > * {
  max-width: 60ch;
}

.main article > pre {
  max-width: 80vw;
  margin: 16px 0;
  padding: 16px;
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  .main article > pre {
    max-width: calc(100vw - 96px);
  }
}
