---
import Layout from "@layouts/layout.astro";
import { getObsidianTags } from "@lib/github.ts";

const { tag } = Astro.params;

getObsidianTags();

interface SlugPathPair {
  slug: string;
  path: string;
  title: string;
}

interface Tags {
  [key: string]: SlugPathPair[];
}

let tags: Tags = await fetch(
  import.meta.env.PROD
    ? "https://pub-ba3d6ef16e5c44b7b4b89835777f6653.r2.dev/tags.json"
    : "https://pub-ba3d6ef16e5c44b7b4b89835777f6653.r2.dev/tags-staging.json"
).then((res) => res.json());

// using the tag parameter to filter the tags
if (tag) {
  tags = Object.fromEntries(Object.entries(tags).filter(([key]) => key === tag));
}
---

<Layout>
  <main>
    <h1>Tag: {tag}</h1>

    {
      Object.entries(tags).map(([tags, slugs]) =>
        slugs.map(({ slug, path, title }) => (
          <p>
            <a href={`/${path}/${slug}`}>{title}</a>
          </p>
        ))
      )
    }

    <p><a href='/tags'>View all Tags</a></p>
  </main>
</Layout>

<style>
  ul,
  li {
    list-style: none;
    padding: 0;
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .subgrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    .grid {
      gap: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    .grid {
      gap: 1rem;
    }
  }
</style>
