.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  position: relative;
}

.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main > * {
  line-height: 1.5;
  text-align: left;
  max-width: 800px;
  text-decoration: none;
}

.main img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .section {
    padding-bottom: 96px;
  }
}
