.pill_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.date {
  font-size: 3rem;
}

.pill {
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 8rem;
  background: var(--background);
  border: 1px solid var(--orange);
  width: fit-content;
  font-size: 2rem;
}
