.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 16px;
  font-family: ui-monospace, monospace;
  font-size: 0.8rem;
}

.commentList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  padding-left: 1rem;
  border-left: 1px solid rgb(var(--gold-rgb));
  display: flex;
  flex-direction: column;
  gap: 8px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.comment ul {
  margin-top: 1rem;
}

.commentTopRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > * {
    width: fit-content;
  }
}

.commentBottomRow {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
