---
// layout
import PageLayout from "@/layouts/PageLayout.astro";
import RecentContent from "@/components/RecentContent.astro";
import RecentGlassContent from "@/components/svelte/RecentGlassContent.svelte";
---

<PageLayout path='404'>
  <main>
    <div>
      <h1>404</h1>
      <p>Page not found.</p>
      <p>You don't have to go home, but you can't stay here.</p>
    </div>
    <RecentContent showTags={true} contentLimit={16} />
    <RecentGlassContent contentLimit={5} />
  </main>
</PageLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-content: start;
    align-items: start;
    gap: 1rem;
  }

  main > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
