---
// export const prerender = true;

import Layout from "@layouts/layout.astro";
---

<Layout title='404'>
  <main>
    <h1>404</h1>
    <p>You don't have to go home, but you can't stay here.</p>
    <p><a aria-label='Go home' href='/'>Go home</a></p>
  </main>
</Layout>
