---
import DefaultLayout from "@layouts/defaultLayouts.astro";

const title = "About - @iammatthias";
const description =
    "Hi, I am Matthias. I'm a photographer turned growth engineer working on the future of the web.";
const ogImage = "/about";
---

<DefaultLayout title={title} description={description} ogImage={ogImage}>
    <Fragment slot="main">
        <section>
            <p>Hi, I am Matthias.</p>
            <p>
                I'm a photographer turned developer relations engineer. I've
                gotten to do some really cool things along the way, and now I'm
                working on the future of the web.
            </p>
            <p>
                This site is my cozy corner on the web. It is a collection of
                thoughts, projects, and ideas. You can keep up with my career by
                checking out my <a href="/resume">resume</a>, or follow along a
                bit more ephemerally by checking out what I'm up to <a
                    href="/now">now</a
                >.
            </p>
            <p>
                Currently based in Southern California, where I spend a lot of
                time cooking or behind the lens when I'm not at my desk.
            </p>
        </section>
    </Fragment>
</DefaultLayout>

<style>
    section {
        padding: 2rem;
        @media (max-width: 768px) {
            padding: 1rem;
        }
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: fit-content;
        min-height: calc(50vh - 5rem);
    }

    section > * {
        max-width: 64ch;
        word-wrap: pretty;
    }

    #social ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #social li {
        border-bottom: 1px solid var(--color-border);
        padding-bottom: 1rem;
    }

    #social li:last-child {
        border-bottom: none;
    }

    #social li a {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
    }

    #social li a:hover {
        text-decoration: underline;
    }

    .username {
        font-weight: 400;
        color: var(--color-muted);
    }
</style>
