---
import PageLayout from "@layouts/PageLayout.astro";
import GuestbookEvents from "@/components/TSX/Guestbook.tsx";
---

<PageLayout title='Guestbook'>
  <main>
    <section class='header'>
      <h1>The Guestbook</h1>
    </section>
    <article>
      <GuestbookEvents client:only='react' />
    </article>
  </main>
</PageLayout>

<style>
  main {
    width: 100%;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 4px);
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--padding);
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: var(--border);
    border-right: var(--border);
    max-width: 800px;
    width: 100%;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - var(--header-height) - 4px);
    margin: 0 auto;
  }
</style>
