---
// layout
import PageLayout from "@/layouts/PageLayout.astro";

// components
import RecentContent from "@/components/RecentContent.astro";
---

<PageLayout>
  <main>
    <h1>Hi, I'm Matthias <span class='icon'>🌞</span></h1>
    <div class='intro'>
      <p>
        I'm a photographer turned growth technologist. Over the years I've worked in travel, fintech, and ecommerce.
      </p>
      <p>
        These days I run <a
          href='https://day---break.com/'
          target='_blank'
          title='day---break: Driving Growth Through Data-Driven Marketing'>day---break</a
        >, a marketing consultancy focused on growth and lifecycle automation.
      </p>
    </div>
    <RecentContent showTags={true} showGlass={true} contentLimit={16} />
  </main>
</PageLayout>

<style>
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 4px);
    overflow: hidden;
    align-content: start;
    align-items: start;
    gap: 1px;
  }

  main > :global(*):not(.glass-content) {
    aspect-ratio: 6/7;
    min-height: 0;
    min-width: 0;
    outline: var(--border);
    padding: var(--padding);
    @media (max-width: 768px) {
      /* &:first-child {
        aspect-ratio: unset;
      } */
      aspect-ratio: 7/6;
    }
  }

  .icon {
    padding-left: 0.3em;
    font-size: 0.7em;
    vertical-align: middle;
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
