---
import Layout from "@layouts/layout.astro";
import SocialPlatforms from "@components/social_platforms.astro";
import Navigation from "@components/navigation.astro";
import HomepageHero from "@components/homepage-hero.astro";
import FarcasterLatestPost from "@/components/onchain/farcaster_latest_post.astro";
---

<Layout>
  <h1 class='h5'>Hi, I'm Matthias 🌞</h1>
  <p class='text--color'>
    I run <a
      href='https://day---break.com/'
      target='_blank'
      title='day---break: Driving Growth Through Data-Driven Marketing'>☼ day---break</a
    >, a small marketing agency focused on growth and lifecycle automation.
  </p>

  <p class='text--color'>
    Outside of work my time is spent <a href='/art' target='_blank' title='Creative works — photography and digital art'
      >taking pictures</a
    >, <a href='/recipes' target='_blank' title='Recipes found and developed'>cooking</a>, <a
      href='/posts'
      target='_blank'
      title="Posts I've written">writing</a
    > the occasional <a href='/notes' target='_blank' title="Notes I've written">note</a>, and with my family.
  </p>

  <FarcasterLatestPost />
</Layout>

<style>
  .text--color {
    color: var(--text-title);
  }
  .find-me-online {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .underline {
    color: inherit;
    /* transition: color 0.2s ease-in-out; */
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    > span {
      text-decoration: underline;
      text-underline-offset: 0.2rem;
    }
  }
</style>
