---
// export const prerender = true;

import Layout from "@layouts/layout.astro";
import { Image } from "astro:assets";
import HitCounter from "@components/hitCounter.astro";
---

<Layout>
  <main>
    <!-- <h1>I am Matthias—a photographer and growth marketer based in Southern California.</h1>
    <h1>You can find me behind a camera, cooking, or online @iammatthias.</h1> -->
    <h1>Hi, I am Matthias 🌞</h1>
    <h1>I'm a photographer and growth technologist. I help companies define and enhance their brand.</h1>
    <h1>When I'm not working, you'll find me cooking up new recipes or capturing moments behind the lens.</h1>
    <h1>You can find me online @iammatthias. Reach out if you'd like to connect or collaborate.</h1>
  </main>
  <div class='background'>
    <Image
      inferSize
      loading='eager'
      decoding='async'
      alt='fullscreen background'
      src='https://wsrv.nl/?url=https://pub-ba3d6ef16e5c44b7b4b89835777f6653.r2.dev/assets/3c2b662eee2940e019212ab9d40c16d9.png'
    />
  </div>
  <HitCounter />
</Layout>

<style>
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    opacity: 0.33;
  }
  .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  main {
    justify-content: center;
  }
  h1 {
    line-height: 1.05;
    font-size: var(--fs-h3);
  }

  @media (max-width: 768px) {
    h1 {
      font-size: var(--fs-h4);
    }
  }
</style>
