---
// layout
import PageLayout from "@layouts/PageLayout.astro";

// components
import RecentContent from "@components/RecentContent.astro";
import RecentGlassContent from "@components/RecentGlassContent.astro";
import GlassHero from "@components/GlassHero.astro";
---

<PageLayout title='Home' path='home'>
  <aside></aside>
  <section>
    <div>
      <div class='about'>
        <h1>Hi, I'm Matthias</h1>
        <p>
          I'm a photographer turned marketing technologist. Over the years I've worked in luxury travel, fintech, and
          ecommerce.
        </p>
        <p>
          These days I run <a
            href='https://day---break.com/'
            target='_blank'
            title='day---break: Driving Growth Through Data-Driven Marketing'>☼ day---break</a
          >, a marketing consultancy focused on growth and lifecycle automation.
        </p>
        <p>Outside of work I can be found with a camera in my hand, in front of a bbq, writing, or with my family.</p>
      </div>
      <RecentContent />
      <!-- <RecentGlassContent /> -->
    </div>
    <div>
      <GlassHero />
    </div>
  </section>
</PageLayout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1080px) {
      display: block;
    }
  }

  section > div > :global(*):not(:last-child) {
    border-bottom: var(--border);
  }

  .about {
    padding: var(--padding);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  section > div:last-child {
    position: sticky;
    top: calc(var(--nav-height) + 1px);
    height: calc(100vh - var(--nav-height) - var(--footer-height) - 1px);
    border-left: var(--border);
    overflow: hidden;
    @media (max-width: 1080px) {
      border-top: var(--border);
      border-left: none;
      padding: var(--padding);
    }
  }
</style>
