---
import Layout from "@layouts/layout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <main>
    <h1 class='difference'>I am Matthias—a photographer and growth technologist based in Southern California.</h1>
    <h1>
      <span class='difference'>You can find me behind a camera, cooking, or online</span>
      <span
        ><details
          x-data='{ open: false, key: 0 }'
          @mouseover='open = true; key += 1'
          @mouseout='open = false'
          x-bind:open='open'
          aria-label='Social media links'
        >
          <summary class='difference'>@ iammatthias</summary>
          <div>
            <p>
              <a href='https://github.com/iammatthias' title="Matthias's GitHub" aria-label="Matthias's GitHub"
                >github</a
              >
            </p>
            <p><a href='https://glass.photo/iam' title="Matthias's Glass" aria-label="Matthias's Glass">glass</a></p>
            <p>
              <a href='https://warpcast.com/iammatthias' title="Matthias's Warpcast" aria-label="Matthias's Warpcast"
                >warpcast</a
              >
            </p>
            <p>
              <a
                href='https://www.instagram.com/iammatthias/'
                title="Matthias's Instagram"
                aria-label="Matthias's Instagram">instagram</a
              >
            </p>
            <p>
              <a
                href='https://www.linkedin.com/in/iammatthias/'
                title="Matthias's LinkedIn"
                aria-label="Matthias's LinkedIn">linkedin</a
              >
            </p>
            <p>
              <a href='https://twitter.com/iammatthias' title="Matthias's Twitter" aria-label="Matthias's Twitter"
                >twitter</a
              >
            </p>
          </div>
        </details></span
      >
    </h1>
  </main>
  <div class='background'>
    <Image
      inferSize
      loading='eager'
      decoding='async'
      alt='fullscreen background'
      src='https://wsrv.nl/?url=https://pub-ba3d6ef16e5c44b7b4b89835777f6653.r2.dev/assets/3c2b662eee2940e019212ab9d40c16d9.png'
    />
  </div>
</Layout>

<style>
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  main {
    justify-content: center;
  }
  h1 {
    text-align: center;
    line-height: 1.25;
  }

  .difference {
    color: var(--white);
    mix-blend-mode: difference;
  }

  details {
    vertical-align: top; /* Keeps the details aligned at the top when inline */
    list-style: none; /* Removes the list style */
    padding: 0; /* Removes the padding */
    display: inline-block; /* Makes the details inline */
  }

  details[open] > *:not(summary) {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border: 1px solid var(--white);
    border-radius: 1rem;
    width: fit-content; /* Or set a specific width */
    max-width: 100%; /* Limits the width */
    color: var(--white);
    padding: 1rem; /* Add some padding */
    box-shadow:
      0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 2;
  }

  details summary {
    position: relative;
    list-style: none; /* Removes the list style */
    padding: 0; /* Removes the padding */
    cursor: pointer; /* Add a pointer to the cursor */
    mix-blend-mode: difference;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details:hover {
    cursor: pointer;
  }

  details div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: fit-content;
    margin-left: auto;
    text-align: center;
  }

  details a {
    margin: 0;
    padding: 0;
    font-size: var(--fs-sm);
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: var(--fs-h2);
    }
    details div {
      grid-template-columns: 1fr 1fr;
    }
  }

  details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }

  details:not([open]) summary ~ * {
    animation: close 0.3s ease-in-out forwards;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes close {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>

<style is:global>
  nav {
    border: 1px solid var(--white) !important;
  }

  nav summary,
  nav p {
    color: var(--white) !important;
  }
</style>
