---
import Layout from "@layouts/layout.astro";
import SocialPlatforms from "@components/social_platforms.astro";
import Navigation from "@components/navigation.astro";
import HomepageHero from "@components/homepage-hero.astro";
---

<Layout>
  <h1 class='h5'>Hi, I am Matthias 🌞</h1>
  <p class='text--color'>I'm a photographer and growth technologist.</p>

  <p class='text--color'>
    I build things for the web that help brand identify and meet their goals. Outside of work my time is spent taking
    pictures, cooking, and with my family.
  </p>

  <div x-data='{ activeAccordion: false }' class='find-me-online'>
    <p class='text--color'>
      You can find me online at: <button @click='activeAccordion = !activeAccordion' class='underline'>
        @<span>iammatthias</span>
      </button>
    </p>

    <div x-cloak x-collapse x-show='activeAccordion'>
      <SocialPlatforms />
    </div>
  </div>
</Layout>

<style>
  .text--color {
    color: var(--text-title);
  }
  .find-me-online {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .underline {
    color: inherit;
    /* transition: color 0.2s ease-in-out; */
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    > span {
      text-decoration: underline;
      text-underline-offset: 0.2rem;
    }
  }
</style>

<script>
  import Alpine from "alpinejs";
  import collapse from "@alpinejs/collapse";

  Alpine.plugin(collapse);
</script>
