---
// layout
import PageLayout from "@layouts/PageLayout.astro";

const resumeData = [
  {
    section: "Present",
    entries: [
      {
        date: "2024 ➵ Current",
        company: "☼ day---break",
        position: "Founder & CEO",
      },
      {
        date: "2012 ➵ Current",
        company: "Photographer",
        position: "Fine art & freelance",
      },
    ],
  },
  {
    section: "Historic",
    entries: [
      {
        date: "2023 ➵ 2024",
        company: "Ice Barrel (Contractor)",
        position: "Web Development & Performance Marketing Manager",
      },
      {
        date: "2022 ➵ 2024",
        company: "Opul (Contractor)",
        position: "Design System Engineer",
      },
      {
        date: "2021 ➵ 2022",
        company: "Tornado",
        position: "Growth Engineer",
      },
      {
        date: "2018 ➵ 2021",
        company: "Aspiration",
        position: "CRM Architect",
      },
      {
        date: "2016 ➵ 2018",
        company: "Surf Air",
        position: "Product & Marketing Coordinator",
      },
    ],
  },

  {
    section: "Education",
    entries: [
      {
        date: "2010 ➵ 2014",
        company: "Brooks Institute",
        position: "Bachelors Degree, Commercial Photography",
      },
    ],
  },
];
---

<PageLayout path='Resume'>
  <aside></aside>
  <section>
    <div class='resume-header'>
      <h1>Resume</h1>
      <p>A brief overview of my professional experience and education.</p>
    </div>
    {
      resumeData.map((section) => (
        <div class='resume-section'>
          <h2>{section.section}</h2>
          {section.entries.map((entry) => (
            <div class='resume-entry'>
              <h3 class='h6'>{entry.company}</h3>
              <p>
                <strong>{entry.position}</strong>
              </p>
              <p>{entry.date}</p>
              <hr />
            </div>
          ))}
        </div>
      ))
    }
  </section>
</PageLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .resume-header {
    padding: var(--padding);
  }

  .resume-section {
    padding: var(--padding);
  }

  .resume-entry {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
