---
// layout
import PageLayout from "@layouts/PageLayout.astro";

const platforms = [
  {
    name: "Farcaster",
    url: "https://warpcast.com/iammatthias",
    username: "@iammatthias",
    blurb:
      'Farcaster is a "sufficiently decentralized" social protocol. There are multiple clients, but the main one is Warpcast.',
  },
  {
    name: "Glass",
    url: "https://glass.photo/iam",
    username: "@iam",
    blurb: "Glass is a photography-centric platform, and is where I post most of my pictures.",
  },
  {
    name: "Instagram",
    url: "https://instagram.com/iammatthias",
    username: "@iammatthias",
    blurb:
      "My feed is not as active as it used to be, but I frequently post ephemeral snapshots of recent work on my story.",
  },
  {
    name: "Threads",
    url: "https://www.threads.net/@iammatthias",
    username: "@iammatthias",
    blurb: "Generally inactive, but I post from time to time.",
  },
  { name: "GitHub", url: "https://github.com/iammatthias", username: "@iammatthias", blurb: "Work and side projects." },
  {
    name: "LinkedIn",
    url: "https://linkedin.com/in/iammatthias",
    username: "@iammatthias",
    blurb: "An up-to-date snapshot of my professional career.",
  },

  {
    name: "Mastadon",
    url: "https://mastodon.social/@iammatthias",
    username: "@iammatthias",
    blurb: "I am not active, but maintain a presence.",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/iammatthias",
    username: "@iammatthias",
    blurb: "I maintain my account, but I have deleted all content.",
  },
];
---

<PageLayout path='Social'>
  <aside></aside>
  <section>
    <div class='social-header'>
      <h1>Social</h1>
      <p>I'm on a lot of different platforms, but I'm not especially active on any of them.</p>
    </div>
    {
      platforms.map((platform) => (
        <div class='social-section'>
          <h2>
            <a href={platform.url}>{platform.name}</a>
          </h2>
          <small>{platform.username}</small>
          <p>{platform.blurb}</p>
          <hr />
        </div>
      ))
    }
  </section>
</PageLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .social-header {
    padding: var(--padding);
  }

  .social-section {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
