---
// layout
import PageLayout from "@/layouts/PageLayout.astro";

const platforms = [
  {
    name: "Warpcast",
    url: "https://warpcast.com/iammatthias",
    username: "@iammatthias",
    blurb:
      'Farcaster is a "sufficiently decentralized" social protocol. There are multiple clients, but I use Warpcast.',
  },
  {
    name: "Glass",
    url: "https://glass.photo/iam",
    username: "@iam",
    blurb: "Glass is a photography-centric platform, and is where I post most of my pictures.",
  },
  {
    name: "Instagram",
    url: "https://instagram.com/iammatthias",
    username: "@iammatthias",
    blurb: "Not as active as it used to be, I share pictures on Glass these days.",
  },
  {
    name: "Threads",
    url: "https://www.threads.net/@iammatthias",
    username: "@iammatthias",
    blurb: "Mostly inactive.",
  },
  { name: "GitHub", url: "https://github.com/iammatthias", username: "@iammatthias", blurb: "Work and side projects." },
  {
    name: "LinkedIn",
    url: "https://linkedin.com/in/iammatthias",
    username: "@iammatthias",
    blurb: "An up-to-date snapshot of my professional career.",
  },

  {
    name: "Mastadon",
    url: "https://mastodon.social/@iammatthias",
    username: "@iammatthias",
    blurb: "I maintain an account, but I am not active.",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/iammatthias",
    username: "@iammatthias",
    blurb: "I maintain an account, but I have deleted almost all content.",
  },
];
---

<PageLayout path='Social' }>
  <div class='grid'>
    <div class='meta'>
      <h1>Social</h1>
      <p>I'm on a lot of different platforms, but I'm not especially active on any of them.</p>
    </div>
    <article>
      {
        platforms.map((platform) => (
          <div class='social-section'>
            <h2>
              <a href={platform.url}>{platform.name}</a>
            </h2>
            <p>{platform.username}</p>
            <p>{platform.blurb}</p>
          </div>
        ))
      }
    </article>
  </div>
</PageLayout>

<style>
  h2 {
    font-size: var(--fs-h4);
    margin: 0;
  }
  p,
  .tags {
    font-size: var(--fs-sm);
  }

  .grid {
    display: grid;
    grid-template-columns: calc(var(--meta-column) - var(--aside-width)) 1fr;
    position: relative;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 4px);
  }

  .meta {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: sticky;
    top: calc(var(--nav-height));
    height: fit-content;
    align-self: start;
    height: 100%;
    max-height: calc(100vh - var(--nav-height) - var(--footer-height));
    overflow-y: auto;
    border-right: var(--border);
    padding: 1rem;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  article > :global(*) {
    max-width: 600px;
    width: 100%;
  }

  .social-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 2rem;
    border-top: var(--border);
    padding-top: 1rem;
    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }

    .meta {
      position: relative;
      top: 0;
      max-height: none;
      overflow-y: visible;
      padding: 16px;
      border-right: none;
    }
  }
</style>
