---
import Layout from "@layouts/layout.astro";
import HitCounter from "@components/hitCounter.astro";
---

<Layout title='Testing Playground'>
  <main>
    <h1>A Testing Playground</h1>
    <HitCounter />
  </main>
</Layout>
