---
import Layout from "../layouts/Layout.astro";
import fs from "node:fs";

fs.writeFileSync("/tmp/count.txt", "0");

const count = fs.readFileSync("/tmp/count.txt", "utf-8");
---

<Layout title='Astro Exploration'>
  <main>
    <h1>Count: <span id='count'>{count}</span></h1>
    <button hx-post='api/increment' hx-target='#count'>Increment</button>
    <button hx-post='api/decrement' hx-target='#count'>Decrement</button>
  </main>
</Layout>
