:root {
  --max-width: 1100px;

  --pure-white-rgb: 255, 255, 255;
  --pure-black-rgb: 0, 0, 0;
  --white-rgb: 253, 248, 240;
  --grey-rgb: 229, 229, 229;
  --black-rgb: 29, 29, 29;
  --red-rgb: 211, 78, 36;
  --gold-rgb: 245, 171, 0;
  --green-rgb: 74, 124, 89;
  --blue-rgb: 5, 74, 145;

  --background-rgb: var(--white-rgb);
  --foreground-rgb: var(--black-rgb);

  --white: #eeeeee;
  --grey-light: #dbdee5;
  --grey-dark: #888b93;
  --black: #020202;

  --orange: #f06900;
  --orange-1: #cd783e;
  --orange-2: #db8d53;
  --orange-3: #dea067;

  --background: var(--white);
  --foreground: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: var(--black-rgb);
    --foreground-rgb: var(--white-rgb);

    --background: var(--black);
    --foreground: var(--white);
  }
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 28, 28, 28;
  }
}

/* Global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Base HTML styles */
html {
  font-size: 4px;
}

/* Prevent horizontal overflow */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Body styles */
body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 8rem;
}
/* Limit width for direct children of .main */
body > * {
  max-width: 600px;
  width: 100%;
}

body > section,
body > section > article,
body > section > .post {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
}

/* Dark mode HTML styles */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 4rem;
    gap: 4rem;
  }
}
