:root {
  --max-width: 1100px;

  --pure-white-rgb: 255, 255, 255;
  --pure-black-rgb: 0, 0, 0;
  --white-rgb: 253, 248, 240;
  --grey-rgb: 229, 229, 229;
  --black-rgb: 29, 29, 29;
  --red-rgb: 211, 78, 36;
  --gold-rgb: 245, 171, 0;
  --green-rgb: 74, 124, 89;
  --blue-rgb: 5, 74, 145;

  --background-rgb: var(--white-rgb);
  --foreground-rgb: var(--black-rgb);

  --white: #eeeeee;
  --grey-light: #dbdee5;
  --grey-dark: #888b93;
  --black: #020202;

  --orange: #f06900;
  --orange-1: #cd783e;
  --orange-2: #db8d53;
  --orange-3: #dea067;

  --background: var(--white);
  --foreground: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: var(--black-rgb);
    --foreground-rgb: var(--white-rgb);

    --background: var(--black);
    --foreground: var(--white);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
}

body > section,
body > article {
  padding: 32px;
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
}

button {
  width: fit-content;
  padding: 0.5rem 1rem;
  color: var(--foreground);
  background: var(--orange);
  border: 2px solid var(--foreground);
  border-radius: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

/* button:hover {
  background: var(--orange-1);
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 600px) {
  /* body {
    overflow: unset;
  } */

  body > section,
  body > article {
    padding: 16px;
  }
}
