html {
  font-size: 100%;
} /*16px*/

body {
  font-weight: 400;
  line-height: 1.75;
}

div,
p,
ul,
ol,
li,
a,
blockquote,
small,
pre {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

ul {
  margin-left: 1.5rem;
}

ol {
  margin-left: 2.25rem;
}

pre {
  background: rgb(var(--background-rgb));
  border: 1px solid var(--orange);
  border-radius: 32px;
  overflow-x: auto;
  padding: 1.714rem;
  white-space: pre-wrap;
}

a {
  color: var(--orange);
  font-weight: 800;
  /* text-decoration: underline wavy var(--orange); */
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.3;
  }

  h1 {
    font-size: 1.802rem;
  }

  h2 {
    font-size: 1.602rem;
  }

  h3 {
    font-size: 1.424rem;
  }

  h4 {
    font-size: 1.266rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  small {
    font-size: 0.889rem;
  }
}
