a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
small,
i,
em,
b,
strong,
ol,
ul,
code,
pre,
blockquote {
  max-width: 21cm;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  // font-family: var(--font-crimson-pro);
  font-family: var(--font-inconsolata);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

p {
  font-size: var(--font-size-p);
  line-height: 1.6;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 700;
  line-height: 1.2;
}

h5 {
  font-size: var(--font-size-h5);
  font-weight: 700;
  line-height: 1.2;
}

h6 {
  font-size: var(--font-size-small);
  font-weight: 700;
  line-height: 1.2;
}

small {
  font-size: var(--font-size-small);
  line-height: 1.5;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ul,
ol {
  padding-left: 32px;
  li {
    margin-bottom: 8px;
  }
}

code {
  font-family: var(--font-inconsolata);
  font-size: 14px;
  outline: var(--border);
  padding: 2px 4px;
}

pre {
  font-family: var(--font-inconsolata);
  font-size: 14px;
  z-index: 2;
  width: calc(100% - 32px);
  padding: 16px;
  overflow-x: scroll;
  outline: var(--border);
  code {
    outline: none;
    padding: 0;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
