---
import Layout from "@layouts/layout.astro";
import Squiggle from "@components/squiggle.astro";
---

<Layout path='Onchain Analytics'>
  <main class='text'>
    <p>Coming soon.</p>
  </main>
</Layout>
