.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 24px;
  height: 100%;
  width: 100%;

  // Mobile styles
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto); // Enable auto row sizing
  }

  // Tablet styles
  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(6, 1fr);
  }

  & .cell {
    grid-column: span 2;
    background-color: hsla(var(--foreground-hsl), 0.021618);
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: var(--shadow);
    & a {
      height: 100%;
      width: 100%;
      text-decoration: none;
    }
    &:first-child {
      padding: 0;
    }
  }

  & .center > * {
    text-align: center;
  }

  & .border {
    border: var(--border);
  }

  & .invert {
    background-color: hsla(var(--foreground-hsl), 1);
    color: hsla(var(--background-hsl), 1);
  }

  & .span1 {
    grid-column: span 1;

    @media (max-width: 767px) {
      grid-column: span 2;
    }
  }

  & .span2 {
    grid-column: span 2;
  }

  & .span3 {
    grid-column: span 3;

    @media (max-width: 1023px) {
      grid-column: span 3;
    }

    @media (max-width: 767px) {
      grid-column: span 2;
    }
  }

  & .span4 {
    grid-column: span 4;

    @media (max-width: 1023px) {
      grid-column: span 4;
    }

    @media (max-width: 767px) {
      grid-column: span 2;
    }
  }

  & .span5 {
    grid-column: span 5;

    @media (max-width: 1023px) {
      grid-column: span 4;
    }

    @media (max-width: 767px) {
      grid-column: span 2;
    }
  }

  & .span6 {
    grid-column: span 6;

    @media (max-width: 1023px) {
      grid-column: span 6;
    }

    @media (max-width: 767px) {
      grid-column: span 2;
    }
  }

  & .span7 {
    grid-column: span 7;

    @media (max-width: 1023px) {
      grid-column: span 6;
    }

    @media (max-width: 767px) {
      grid-column: span 2;
    }
  }

  & .span8 {
    grid-column: span 8;

    @media (max-width: 1023px) {
      grid-column: span 6;
    }

    @media (max-width: 767px) {
      grid-column: span 2;
    }
  }

  & .span10 {
    grid-column: span 10;

    @media (max-width: 1023px) {
      grid-column: span 6;
    }

    @media (max-width: 767px) {
      grid-column: span 2;
    }
  }

  & .doubleHeight {
    grid-row: span 2;

    @media (max-width: 767px) {
      grid-row: unset;
    }
  }

  & .invisible {
    opacity: 0;
  }
}

.subGrid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-auto-rows: min-content;
  gap: 8px;
  & {
    small {
      font-size: 0.8rem;
      font-weight: normal;
    }
    h2 {
      font-size: 1rem;
    }
  }
  & .source {
    height: fit-content;
    font-style: italic;
  }
  & .created {
    height: fit-content;
    text-align: right;
  }
  & .content {
    grid-column: span 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0;
    border-top: var(--border);
    & > * {
      text-align: center;
    }
  }
}
