---
import fs from "node:fs";

export const partial = true;

const count = +fs.readFileSync("/tmp/count.txt", "utf-8").trim() + 1;
fs.writeFileSync("/tmp/count.txt", count.toString());
---

<span id='count' hx-swap-oob='true'>
  {count}
</span>
