---

---

<footer>
  <div>© {new Date().getFullYear()}</div>
  <div class='hide-on-mobile'><a href='/onchain-analytics'>ONCHAIN ANALYTICS</a></div>
  <div class='hide-on-mobile'><a href='/resume'>RESUME</a></div>
  <div class='hide-on-mobile'><a href='/social'>SOCIAL</a></div>
</footer>

<style>
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: sticky;
    bottom: 0px;
    z-index: 100;
    border-top: var(--border);
    background-color: var(--background);
    font-size: 0.8rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    &:not(:last-child) {
      border-right: var(--border);
    }
    @media (max-width: 768px) {
      &:first-child {
        border-right: none;
      }
      &:not(:first-child) {
        display: none;
      }
    }
  }
</style>
