---
let currentYear = new Date().getFullYear();
---

<footer>
  <small
    >© {currentYear} Matthias Jordan
    <span>✧</span>
    <a href='/' aria-label='Home page' title='Home'>Home</a>
    <span>✧</span>
    <a href='/social' aria-label='Social page' title='Social'>Social</a>
    <span>✧</span>
    <a href='/resume' aria-label='Resume page' title='Resume'>Resume</a>
  </small>
</footer>

<style>
  footer {
    margin-top: auto;
  }
  a {
    color: inherit;
    font-weight: 400;
  }
</style>
