---

---

<footer>
  <div>© {new Date().getFullYear()}</div>
  <div><a href='/onchain-analytics'>ONCHAIN ANALYTICS</a></div>
  <div><a href='/resume'>RESUME</a></div>
  <div><a href='/social'>SOCIAL</a></div>
</footer>

<style>
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: sticky;
    bottom: 0px;
    z-index: 100;
    border-top: var(--border);
    background-color: var(--background);
    font-size: 0.8rem;
    font-family: var(--font-mono);
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    &:not(:last-child) {
      border-right: var(--border);
      @media (max-width: 768px) {
        border-right: none;
        border-bottom: var(--border);
        &:first-child,
        &:nth-child(3) {
          border-right: var(--border);
        }
        &:nth-child(3) {
          border-bottom: none;
        }
      }
    }
  }
</style>
