---
let currentYear = new Date().getFullYear();
---

<footer>
  <small>
    <span>© {currentYear} Matthias Jordan</span><br />
    <span class='circle'></span>
    <a href='/onchain-analytics'>Onchain Analytics</a>
    <span>✧</span>
    <a href='/social' aria-label='Social page' title='Social'>Social</a>
    <span>✧</span>
    <a href='/resume' aria-label='Resume page' title='Resume'>Resume</a>
  </small>
</footer>

<style>
  footer {
    margin-top: auto;
    *:not(.circle, small) {
      opacity: 0.75;
    }
  }
  a {
    color: inherit;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }

  .circle {
    display: inline-block;
    background-color: transparent;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    box-shadow:
      0 0 8px var(--gold),
      inset 0 0 8px var(--gold-lighter);
    animation: pulse 5s ease 5s infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow:
        0 0 8px var(--gold),
        inset 0 0 8px var(--gold);
    }
    50% {
      box-shadow:
        0 0 16px var(--gold),
        inset 0 0 14px var(--gold);
    }
    100% {
      box-shadow:
        0 0 8px var(--gold),
        inset 0 0 8px var(--gold);
    }
  }
</style>
