---

---

<footer>
  <p><a href='/about#social'>Social</a></p>
  <p><a href='/tags'>Tags</a></p>
  <p><a href='/rss.xml'>RSS</a></p>
  <p><a href='/sitemap-index.xml'>Sitemap</a></p>
</footer>

<style>
  footer {
    border-top: 1px solid var(--color-border);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: auto;
    position: sticky;
    bottom: 1rem;
    background: var(--color-background);
    z-index: 1000;
    box-shadow:
      0px 1px 0px 0px var(--color-border),
      0px 16px 0px 0px var(--color-background);
  }

  footer > * {
    border-right: 1px solid var(--color-border);
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    width: fit-content;
  }
</style>
