---
let currentYear = new Date().getFullYear();
---

<footer>
  <h6>@iammatthias</h6>

  <p>{currentYear}</p>
</footer>

<style>
  footer {
    background: var(--foreground);
  }

  footer * {
    color: var(--background);
  }
</style>
