---

---

<a href='/onchain-analytics'>
  <div class='wrapper'><span class='circle'></span></div>
</a>

<style>
  .wrapper {
    padding: 1rem;
    color: var(--foreground);
    border: 1px solid var(--foreground);
    border-radius: 1.5rem;
    box-shadow: var(--smooth-shadow);
    backdrop-filter: blur(10px);
    width: fit-content;

    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: fixed;
    bottom: 4.5rem;
    right: 8rem;
    font-family: monospace;
    width: 48px;
    height: 58px;
  }

  @media (max-width: 1060px) {
    .wrapper {
      right: 4rem;
    }
  }

  @media (max-width: 480px) {
    .wrapper {
      bottom: 3rem;
      right: 2rem;
    }
  }

  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  #sessionCount {
    transition: --num 1s;
    counter-reset: num var(--num);
  }
  #sessionCount::before {
    content: counter(num);
  }

  .circle {
    display: inline-block;
    background-color: transparent;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    box-shadow:
      0 0 8px var(--gold),
      inset 0 0 8px var(--gold-lighter);
    animation: pulse 5s ease 5s infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow:
        0 0 8px var(--gold),
        inset 0 0 8px var(--gold);
    }
    50% {
      box-shadow:
        0 0 16px var(--gold),
        inset 0 0 14px var(--gold);
    }
    100% {
      box-shadow:
        0 0 8px var(--gold),
        inset 0 0 8px var(--gold);
    }
  }
</style>
