---
import { Image } from "astro:assets";
const { src, alt } = Astro.props;
---

<div><Image src={src} inferSize alt={alt} loading='lazy' decoding='async' data-zoomable /></div>

<script>
  import mediumZoom from "medium-zoom";
  import { addEvent } from "@lib/sessionContractProvider";

  document.addEventListener("astro:page-load", () => {
    const zoom = mediumZoom("[data-zoomable]", {
      background: "var(--background)",
      margin: 64,
      scrollOffset: 0,
    });

    zoom.on("open", async (event) => {
      const { alt, src } = event.target;
      addEvent("zoomOpen", JSON.stringify({ alt, src }));
    });

    zoom.on("close", async (event) => {
      const { alt, src } = event.target;
      addEvent("zoomClose", JSON.stringify({ alt, src }));
    });
  });
</script>

<style>
  div:has(> img) {
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border: 1px solid var(--foreground);
    border-radius: 1.5rem;
    display: block;
    box-shadow: var(--smooth-shadow);
    margin-top: unset !important;
  }
  img {
    position: relative;
    width: 100%;
    height: auto;
  }
</style>
