---
const { tags } = Astro.props;
---

{
  tags && tags.length > 0 && (
    <div class='tags'>
      {tags.map((tag) => (
        <span>
          <small>
            #<a href={`/tags/${tag}`}>{tag}</a>
          </small>
        </span>
      ))}
    </div>
  )
}

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .tags a {
    color: inherit;
  }
</style>
