---

---

<nav>
  <details x-data='{ open: false }' @mouseover='open = true' @mouseout='open = false' x-bind:open='open'>
    <summary><p>Menu</p></summary>
    <p><a href='/'>Home</a></p>
    <p><a href='/photographs'>Photographs</a></p>
    <p><a href='/posts'>Posts</a></p>
    <p><a href='/recipes'>Recipes</a></p>
    <p><a href='/notes'>Notes</a></p>
  </details>
</nav>

<style>
  nav {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 2rem;
    margin: 0 auto;
    position: fixed;
    width: fit-content;
    padding: 1rem 2rem;
    gap: 2rem;
    align-self: center;
    border: 1px solid var(--foreground);
    border-radius: 3rem;
    background-color: var(--background);
    color: var(--foreground);
    z-index: 1000;
    text-align: center;
    vertical-align: bottom;
  }

  nav::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    border-radius: 3rem;
    box-shadow:
      0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  p,
  a {
    margin: 0;
    padding: 0;
    font-size: var(--fs-sm);
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
  }

  details {
    vertical-align: top;
    list-style: none;
    padding: 0;
    inset: 0;

    position: relative;
  }

  details summary {
    list-style: none;
    padding: 0;
    cursor: pointer;
    bottom: 0;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details:hover {
    cursor: pointer;
  }

  details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }

  details[open] summary {
    border-bottom: 2px solid var(--text-link);
  }

  details > *:not(summary) {
    margin-top: 1rem;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
