---

---

<nav>
  <p><a href='/'>Home</a></p>
  <p><a href='/content'>Content</a></p>
  <p><a href='/about'>About</a></p>
  <p><span id='time'></span></p>
</nav>

<style>
  nav {
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: sticky;
    top: 1rem;
    background: var(--color-background);
    z-index: 1000;
    box-shadow:
      0px -1px 0px 0px var(--color-border),
      0px -16px 0px 0px var(--color-background);
  }

  nav > * {
    border-right: 1px solid var(--color-border);
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    width: fit-content;
    &:last-child {
      border-right: none;
      border-left: 1px solid var(--color-border);
      margin-left: auto;
    }
  }
</style>

<script>
  // just time, no date. hour and minute. update every minute on the minue. hide seconds.
  const time = document.getElementById("time")!;
  time.innerHTML = new Date().toLocaleTimeString("en-US", { hour: "2-digit", minute: "2-digit" });
  setInterval(() => {
    time.innerHTML = new Date().toLocaleTimeString("en-US", { hour: "2-digit", minute: "2-digit" });
  }, 60000);
</script>
