---

---

<nav x-data='{ open: false, key: 0 }' @mouseover='open = true; key += 1' @mouseout='open = false'>
  <details x-bind:open='open' x-bind:key='key'>
    <summary><p>&</p></summary>
    <p><a href='/' aria-label='Home page' title='Home'>Home</a></p>
    <p><a href='/art' aria-label='Art page' title='Art'>Art</a></p>
    <p><a href='/posts' aria-label='Posts page' title='Posts'>Posts</a></p>
    <p><a href='/recipes' aria-label='Recipes page' title='Recipes'>Recipes</a></p>
    <p><a href='/notes' aria-label='Notes page' title='Notes'>Notes</a></p>
  </details>
</nav>

<style>
  nav {
    position: fixed;
    left: 8rem;
    bottom: 4rem;
    /* left: 50%;
    transform: translate(-50%, 0); */
    width: fit-content;
    padding: 1rem;
    align-self: center;
    border: 1px solid var(--foreground);
    border-radius: 1.5rem;
    color: var(--foreground);
    text-align: left;
    z-index: 100;
    box-shadow: var(--smooth-shadow);
    pointer-events: auto;
    isolation: isolate;
    backdrop-filter: blur(10px);
  }

  @media (max-width: 1060px) {
    nav {
      left: 4rem;
    }
  }

  @media (max-width: 480px) {
    nav {
      bottom: 2.5rem;
      left: 2rem;
    }
  }

  p,
  a {
    margin: 0;
    padding: 0;
    font-size: var(--fs-sm);
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: none;
  }

  details {
    position: relative;
    padding: 0;
    list-style: none;
    vertical-align: top;
  }

  details summary {
    padding: 0;
    cursor: pointer;
    list-style: none;
  }

  details[open] summary {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  details[open] {
    padding-bottom: 3rem;
  }

  details summary p {
    font-family: "Kalnia Variable";
    font-weight: 900;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details[open] > p:not(:first-of-type) {
    margin-top: 1rem;
  }

  details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }

  details:not([open]) summary ~ * {
    animation: close 0.3s ease-in-out forwards;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes close {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
