---

---

<nav class='navigation-desktop small desktop'>
  <a href='/' aria-label='Home page' title='Home'>Home</a>
  <span>✧</span>
  <a href='/art' aria-label='Art page' title='Art'>Art</a>
  <span>✧</span>
  <a href='/posts' aria-label='Posts page' title='Posts'>Posts</a>
  <span>✧</span>
  <a href='/recipes' aria-label='Recipes page' title='Recipes'>Recipes</a>
  <span>✧</span>
  <a href='/notes' aria-label='Notes page' title='Notes'>Notes</a>
</nav>

<nav
  x-data='{ open: false, key: 0 }'
  @mouseover='open = true; key += 1'
  @mouseout='open = false'
  class='navigation-mobile small'
>
  <details x-bind:open='open' x-bind:key='key'>
    <summary><p>Menu</p></summary>
    <div class='dropdown-content'>
      <p>
        <span>✧</span>
        <a href='/' aria-label='Home page' title='Home'>Home</a>
      </p>

      <p><span>✧</span><a href='/art' aria-label='Art page' title='Art'>Art</a></p>

      <p>
        <span>✧</span>
        <a href='/posts' aria-label='Posts page' title='Posts'>Posts</a>
      </p>

      <p>
        <span>✧</span>
        <a href='/recipes' aria-label='Recipes page' title='Recipes'>Recipes</a>
      </p>

      <p>
        <span>✧</span>
        <a href='/notes' aria-label='Notes page' title='Notes'>Notes</a>
      </p>
    </div>
  </details>
</nav>

<style>
  .navigation-desktop,
  summary,
  .dropdown-content {
    box-shadow: var(--smooth-shadow);
    pointer-events: auto;
    isolation: isolate;
    backdrop-filter: blur(10px);
  }

  .navigation-desktop,
  .navigation-mobile {
    position: sticky;

    z-index: 3;
    @media (max-width: 1999px) {
      top: 4rem;
    }
    @media (max-width: 899px) {
      top: 2rem;
    }
  }

  .navigation-desktop {
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 1.25rem;
    border-radius: 4rem;
    border: 1px solid var(--text-title);
    display: flex;
    width: fit-content;
    margin: 0 auto;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .navigation-mobile {
    display: none;
    @media (max-width: 768px) {
      display: block;
      width: 100%;
    }
  }

  details {
    position: relative;
    width: 100%;
  }

  details summary {
    padding: 0.5rem 1.25rem;
    cursor: pointer;
    list-style: none;
    border: 1px solid var(--text-title);
    border-radius: 1.5rem;
    width: fit-content;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid var(--text-title);
    border-radius: 1rem;
    padding: 1rem;
    z-index: 10;
    box-sizing: border-box;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  details summary::-webkit-details-marker {
    display: none;
  }
</style>
