---
import Twitter from "./social_share/twitter.astro";
import Warpcast from "./social_share/warpcast.astro";
import Threads from "./social_share/threads.astro";
---

<div class='share-button__wrapper'>
  <p>Share on</p>
  <Twitter via='iammatthias' />

  <Warpcast via='iammatthias' />

  <Threads via='iammatthias' />
</div>

<style>
  .share-button__wrapper {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .share-button__wrapper p {
    font-weight: bold;
    font-style: italic;
    width: 100%;
  }

  .share-button {
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 1px solid var(--foreground);
    border-radius: 1.5rem;
    background: unset;
    color: var(--foreground);
    text-align: left;
    box-shadow: var(--smooth-shadow);
    pointer-events: auto;
    isolation: isolate;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  .share-button:hover {
    background-color: var(--foreground);
    color: var(--background);
  }
</style>
