---

---

<div x-data='{ squiggleHeight: 32, squiggleWidth: 48 }' style='width: 100%; height: 100%;'>
  <svg width='100%' :height='`${squiggleHeight}px`' preserveAspectRatio='none'>
    <defs>
      <pattern
        id='squigglePattern'
        x='0'
        y='0'
        :width='`${squiggleWidth}`'
        :height='`${squiggleHeight}`'
        patternUnits='userSpaceOnUse'
      >
        <path
          :d="'M0,' + (squiggleHeight / 2) + ' C' + (squiggleWidth / 6) + ',' + (squiggleHeight / 4) + ' ' + (squiggleWidth / 3) + ',' + (3 * squiggleHeight / 4) + ' ' + (squiggleWidth / 2) + ',' + (squiggleHeight / 2) + ' C' + (2 * squiggleWidth / 3) + ',' + (squiggleHeight / 4) + ' ' + (5 * squiggleWidth / 6) + ',' + (3 * squiggleHeight / 4) + ' ' + squiggleWidth + ',' + (squiggleHeight / 2)"
          stroke='black'
          stroke-width='1'
          fill='none'></path>
      </pattern>
    </defs>

    <rect width='100%' height='100%' fill='url(#squigglePattern)'></rect>
  </svg>
</div>
