.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 100%;
  height: calc(100vh);
  scroll-snap-align: start;
  position: relative;
}

.section p {
  text-align: center;
}

.record__meta {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
}

.record__meta__name {
  width: fit-content;
}

.pill__box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.date,
.pill {
  text-align: center;
  min-width: 48px;
  padding: 4px 8px;
  border-radius: 24px;
  background: rgb(var(--background-rgb));
  border: 1px solid var(--orange);
  width: fit-content;
  font-size: 12px;
}

.media__link {
  text-decoration: none;
}

.art {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 32px;
  max-width: 900px;
  align-items: center;
}

.art > a:has(img) {
  width: fit-content;
  margin-left: auto;
}

.art img {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .art {
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    max-width: 900px;
  }
}
