.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: center;
  position: relative;
}

.section p {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .section {
    padding-bottom: 96px;
    min-height: unset;
    scroll-snap-align: unset;
  }
}
