---
// layouts
import PageLayout from "@/layouts/PageLayout.astro";

// components
import RecentContent from "@/components/RecentContent.astro";

const { path } = Astro.params;

export async function getStaticPaths() {
  return [
    { params: { path: "posts" } },
    { params: { path: "art" } },
    { params: { path: "notes" } },
    { params: { path: "recipes" } },
  ];
}
---

<PageLayout>
  <main>
    <h1 class='capitalize'>{path}</h1>
    <RecentContent collection={path} />
  </main>
</PageLayout>

<style>
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 4px);
    overflow: hidden;
    align-content: start;
    align-items: start;
    gap: 1px;
  }

  main > :global(*):not(.glass-content) {
    aspect-ratio: 6 / 7;
    min-height: 0;
    min-width: 0;
    outline: var(--border);
    padding: var(--padding);
    @media (max-width: 768px) {
      /* &:first-child {
        aspect-ratio: unset;
      } */
      aspect-ratio: 7 / 6;
    }
  }
</style>
