---
// layouts
import PageLayout from "@/layouts/PageLayout.astro";
import OnchainAnalytics from "@/components/TSX/OnchainAnalytics";

const CONTRACT_ADDRESS = import.meta.env.PUBLIC_ANALYTICS_CONTRACT;
---

<PageLayout path='Onchain Analytics'>
  <main>
    <section class='header'>
      <h1>Onchain Analytics</h1>
      <p>
        This site briefly used a homebrew anonymous session management system. If you're interested, you can <a
          class='break'
          href='https://iammatthias.com/posts/1712329304675-onchain-hit-counter'>read more about the project here</a
        >.
      </p>
      <p>
        The project began at block number <a
          href='https://sepolia.basescan.org/tx/0xc6fffb63218605b36b5cb7b07df1e66be77015e4ede9fe03b0356dd18d1fb8f8'
          >12315477
        </a> and is no longer collecting data. <a
          href=`https://sepolia.basescan.org/address/${CONTRACT_ADDRESS}#code#L1`
          >The smart contracts
        </a> are still available on Base-Sepolia.
      </p>
    </section>
    <article>
      <OnchainAnalytics client:only='react' />
    </article>
  </main>
</PageLayout>

<style>
  main {
    width: 100%;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 4px);
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--padding);
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 800px) {
      border-left: none;
      border-right: none;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: var(--border);
    border-right: var(--border);
    max-width: 800px;
    width: 100%;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - var(--header-height) - 4px);
    margin: 0 auto;
    padding: var(--padding);
    @media (max-width: 800px) {
      border-left: none;
      border-right: none;
    }
  }

  .break {
    overflow-wrap: break-word;
    word-break: break-all;
  }
</style>
