---
import Layout from "@layouts/layout.astro";
import Squiggle from "@components/squiggle.astro";
---

<Layout path='Onchain Analytics'>
  <main>
    <h1>Onchain Analytics</h1>
    <p>
      This site features onchain analytics to track sessions and page counts. If you're interested, you can read more
      about the project here: <a class='break' href='https://iammatthias.com/posts/1712329304675-onchain-hit-counter'
        >iammatthias.com/posts/1712329304675-onchain-hit-counter</a
      >.
    </p>
    <Squiggle />

    <h3>How it Works:</h3>
    <ul>
      <li>
        The client IP, user agent, and timestamp are hashed (keccak256) client-side to generate a unique, irreversible
        <code>sessionID</code>. Only the hash is stored.
      </li>
      <li><code>sessionID</code>s are stored onchain to validate page views without any personal data.</li>
      <li>Page views are counted using a simple incrementing integer attached to each page path.</li>
      <li>
        All onchain interactions are handled by a [syndicate.io](Syndicate.io) `Cloud Transaction` wallet in the
        background.
      </li>
    </ul>

    <h3>Data Collection Details:</h3>
    <p>
      Data collection began at <a
        href='https://sepolia.basescan.org/tx/0x8364d0d8827f5129965955c0e836cb54af213dc0aaa43e7b53635f3ced43135f'
        >block number 8853154 on Base-Sepolia</a
      >. The contract is verified on BaseScan: <a
        class='break'
        href='https://sepolia.basescan.org/address/0x40d59f33d1e36d8ddc171af7c40bd85ca25008f0#code#L1'
        >0x40d59f33D1e36D8DDC171Af7C40Bd85Ca25008F0</a
      >.
    </p>

    <h3>Analytics Data:</h3>
    <p>Total site views: <span id='sessionCount'></span></p>
    <p>Top pages by view count:</p>
    <div id='pageCounts'></div>
    <h4>Session IDs:</h4>
    <div id='sessionIDs'>
      <!-- Dynamically filled spans for each session ID -->
    </div>
  </main>
</Layout>

<script src='../../lib/analytics.ts'></script>

<style is:global>
  main * {
    font-family: monospace; /* Monospace font for fixed-width display */
  }
  p,
  li,
  span {
    font-size: var(--fs-sm);
  }

  a,
  th,
  td {
    font-size: 0.9rem;
  }

  #sessionIDs {
    white-space: normal; /* Ensures the normal text wrapping and white-space handling */
  }

  .sessionHash {
    display: inline; /* Keeps span inline */
    word-break: break-all; /* Breaks long words anywhere */
    white-space: normal; /* Allows wrapping */
    margin-right: 0.5rem; /* Adds horizontal space between items */
    transition:
      background-color 0.3s ease,
      color 0.3s ease; /* Smooth transition for background and text color */
  }

  .sessionHash:hover {
    background-color: var(--gold); /* Light grey background on hover */
  }

  .break {
    overflow-wrap: break-word; /* Handles normal wrapping */
    word-break: break-all; /* Forces break for long unbreakable strings */
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Ensure adequate space for the spinner or text */
  }
</style>
