---
// layouts
import PageLayout from "@/layouts/PageLayout.astro";
import OnchainAnalytics from "@/components/svelte/OnchainAnalytics.svelte";

const CONTRACT_ADDRESS = import.meta.env.PUBLIC_ANALYTICS_CONTRACT;
---

<PageLayout path='Onchain Analytics' }>
  <div class='grid'>
    <div class='meta'>
      <h1>Onchain Analytics</h1>
      <p>
        Recording started at block number <a
          href='https://sepolia.basescan.org/tx/0xc6fffb63218605b36b5cb7b07df1e66be77015e4ede9fe03b0356dd18d1fb8f8'
          >12315477
        </a>, and is no longer collecting data. The <a
          href=`https://sepolia.basescan.org/address/${CONTRACT_ADDRESS}#code#L1`
        >
          smart contracts
        </a> are verified on Basescan.
      </p>
    </div>
    <article>
      <p>
        This site briefly used a homebrew analytics system. It was built on an annonymous session management system that
        leveraged keccak256 hashes and the blockchain — you can <a
          class='break'
          href='https://iammatthias.com/posts/1712329304675-onchain-hit-counter'>read more it here</a
        >.
      </p>
      <OnchainAnalytics client:only='svelte' contractAddress={CONTRACT_ADDRESS} />
    </article>
  </div>
</PageLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: calc(var(--meta-column) - var(--aside-width)) 1fr;
    position: relative;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 4px);
  }

  .meta {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    align-self: start;
    height: 100%;
    max-height: calc(100vh - var(--nav-height) - var(--footer-height));
    overflow-y: auto;
    padding: 1rem;
    p,
    .tags {
      font-size: var(--fs-sm);
    }
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  article > :global(*) {
    max-width: 600px;
    width: 100%;
  }
</style>
