// components/NavBar.module.scss
.nav {
  position: relative;
  width: 100%;
}

.navList {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  position: relative;
  text-align: center;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navLink:hover {
  color: #ccc;
}

.dropdown {
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: hsla(var(--foreground-hsl), 1);
  list-style: none;
  padding: 16px 0;
  margin: 0;
  z-index: 1;
  box-shadow: var(--shadow);
  border-radius: 4px;
}

.dropdown:hover .dropdownMenu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropdownItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownLink {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdownLink:hover {
  color: hsla(var(--gold), 1);
}

// Responsive styles for tablet and mobile views
@media (max-width: 768px) {
  .navList {
    flex-direction: column;
  }

  .navItem {
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 0.5rem;
  }

  .navLink {
    font-size: 1rem;
  }
}
