// components/NavBar.module.scss
.nav {
  position: relative;
  width: 100%;
}

.navList {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  position: relative;
  text-align: center;
}

.navLink {
  color: hsla(var(--foreground-hsl), 1);
  text-decoration: none;
  font-size: 1.2rem;
}

.inverted {
  color: hsla(var(--background-hsl), 1);
}

.dropdown {
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: calc(100%);
  left: 50%;
  transform: translateX(-50%);
  background-color: hsla(var(--foreground-hsl), 1);
  list-style: none;
  padding: 16px 0;
  margin: 0 auto;
  z-index: 1;
  box-shadow: var(--shadow);
  border-radius: 4px;
  max-width: var(--max-width);
}

.dropdown:hover .dropdownMenu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropdownItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownLink {
  text-decoration: none;
  text-align: center;
  display: block;
  color: hsla(var(--background-hsl), 1);
}

.dropdownLink:hover {
  color: hsla(var(--gold), 1);
}

// Responsive styles for tablet and mobile views
@media (max-width: 768px) {
  .navList {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .navLink {
    font-size: 1rem;
  }
}
