.transaction {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 4px 16px 8px var(--shadow);
  margin: 16px 0;
  padding: 16px;
  border: 1px solid #1a1a1a;
  font-family: monospace;
  max-width: 60ch;
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  .transaction {
    max-width: calc(100vw - 96px) !important;
  }
}
