.list {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 0 16px;
}

.listTopRow {
  padding: 16px 0 0;
  border-top: 1px solid var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transaction {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 65ch;
  margin: 16px 0;
  padding-top: 16px;
  border: 1px solid var(--bg);
  border-top: 1px solid var(--primary);
  box-shadow: 0 -16px 16px -16px var(--shadow);
  font-family: monospace;
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  .transaction {
    max-width: calc(100vw - 96px) !important;
  }
}
