---
let slots = await Astro.slots.render("default");
let slotsString = slots.toString();
---

{slotsString.includes("OfficeSpace") && <slot />}

{slotsString.includes("Vimeo") && <slot />}

{slotsString.includes("Grid") && <slot />}

{
  slotsString.includes("img src") && (
    <div class='grid'>
      <slot />
    </div>
  )
}

<p>
  <slot />
</p>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    gap: 1.5rem;
    width: 100%;
  }
</style>
