---
let slots = await Astro.slots.render("default");
let slotsString = slots.toString();

// Determine the type of content and render accordingly
const hasOfficeSpace = slotsString.includes("<OfficeSpace");
const hasVimeo = slotsString.includes(`class="vimeo-container"`);
const hasGrid = slotsString.includes("Grid");
const hasImage = slotsString.includes(`class="image-container"`);
---

{
  hasOfficeSpace || hasGrid || hasVimeo || hasImage ? (
    <div class='sub-grid'>
      <slot />
    </div>
  ) : (
    <p>
      <slot />
    </p>
  )
}
