.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  position: relative;
}

.section > * {
  max-width: 600px;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 32px;
  }
}
