.comments,
.comments ul,
.comments li {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 3rem;
}

.comments,
.comments ul {
  gap: 4rem;
}

.comments li {
  border-left: 0.25rem solid #ccc;
  gap: 2rem;
  padding: 0 2rem;
}

.meta {
  font-weight: 700;
}
