.bookmark {
  width: 100%;
  border: 1px solid var(--orange);
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 8px;
}

.bookmark > * {
  grid-column: 1 / 3;
}

.bookmark > img:nth-last-child(2),
.bookmark > img:nth-last-child(3) {
  max-width: 100%;
  width: 100%;
  height: auto;
  grid-column: auto / span 1;
}

/* When there's only one image following another element */
.bookmark > :not(img) + img:nth-last-child(2) {
  grid-column: auto / span 2;
}
